// My Account Information Page
// ===
//
// scss-lint:disable all

.t-my-account-information {
    background: $neutral-320;
    a {
        color: #005cae;
        text-decoration: underline;
        display: block;
        line-height: 1;
    }
    .c-account-heading {
            font-size: $larger-font-size;
            color: $neutral-340;
            font-weight: bold;
            text-align: left;
            text-shadow: 1px 1px 0px $white;
            line-height: 1.2;
            margin-bottom: -$sub-unit;
            text-transform: capitalize;
    }
    .c-profile,
    .c-fitness,
    .c-shopping {
        background: $neutral-390;
        box-shadow: 0px 3px 0px 0px #d8d3d3;
    }
    .c-fitness {
        padding-left: $unit;
        margin-bottom: $font-size-large-22;
        padding-bottom: $unit;
        b {
            font-size: $large-font-size;
        }
        tr {
            background-color: $neutral-35; //#eae8e8
            height: 40px;
            display: block;
            margin: 0px 0px 0px (-$unit);
            padding: 0 $unit;
            box-shadow: 0px 3px 0px 0px $neutral-320;
            td {
                border-bottom: none;
            }
            > td {
                float: left;
            }
            td[align="right"] {
                float: right;
                color: $neutral-400;
                text-transform: capitalize;
            }
        }
        > b {
            color: $neutral-330;
            border-bottom: 1px solid $neutral-410;
            display: block;
            margin-right: $unit;
            padding-bottom: $sub-unit;
            font-size: $font-size-large-15;
            margin-bottom: $unit;
        }
        .c-fitness__text-bold {
            font-weight: bold;
            display: block;
            padding-bottom: 4px;
        }
        & > .c-fitness__text-bold:nth-of-type(1) {
            display: none;
        }
    }
    .c-profile {
        padding-left: $unit;
        padding-bottom: $font-size-large-24;
        padding-right: $unit;
        b {
            background-color: $neutral-35; //eae8e8
            height: 40px;
            display: block;
            margin: 0px (-$unit);
            box-shadow: 0px 3px 0px 0px $neutral-420;
        }
        a {
            padding-bottom: $sub-unit * 3;
            text-decoration: underline;
            &:last-child {
                display: inline-block;

            }
        }
        //desktop class orangetext
        .orangetext {
            display: inline-block;
            font-weight: bold;
            padding-top: $unit * 2;
            padding-bottom: $sub-unit * 3;
            text-decoration: underline;
            & + a {
                float: right;
                text-transform: capitalize;
                padding-top: $unit * 2;
            }
        }
    }
    .c-shopping {
        padding-left: $unit;
        padding-bottom: $font-size-large-24;
        b {
            background-color: $neutral-35;
            height: 40px;
            display: block;
            margin: 0px 0px 0px (-$unit);
            padding: $unit;
            box-shadow: 0px 3px 0px 0px $neutral-420;
            margin-bottom: $font-size-large-24;
            font-size: $font-size-large-15;
        }
        a {
            display: inline-block;
            text-decoration: underline;
        }

    }
    .c-unsubscribe {
        background-color: $neutral-390;
    }
    .c-abc {
        font-weight: 400;
    }
}
