.t-my-account-information {
        background: $neutral-320;
        a{
            color: #005cae;
            text-decoration: underline;
            display: block;
            line-height: 1;
        }
    .c-account-heading {
            font-size: 18px;
            color: #464749;
            font-weight: bold;
            text-align: left;
            text-shadow: 1px 1px 0px #fff;
            line-height: 1.2;
            margin-bottom: -7px;
            text-transform: capitalize;
    }
    .c-profile, .c-fitness, .c-shopping {
        background: #f8f8f8;
    }
    .c-fitness {
        padding-left: 12px;
        margin-bottom: 22px;
        padding-bottom: 12px;
        b {
            font-size: 16px;
        }
        tr {
            background-color: #eae8e8;
            height: 40px;
            display: block;
            margin: 0px 0px 0px -12px;
            padding: 0 12px;
            box-shadow: 0px 3px 0px 0px #dedcdc;
            td{
                border-bottom: none;
            }
            > td{
                float: left;
            }
            td[align="right"] {
                float: right;
                color: #005cae;
                text-transform: capitalize;
            }
        }
        > b {
            color: #FF9900;
            border-bottom: 1px solid #dddddd;
            display: block;
            margin-right: 12px;
            padding-bottom: 4px;
            font-size: 15px;
            margin-bottom: 12px;
        }
        .c-boldText {
            font-weight: bold;
            display: block;
            padding-bottom: 4px;
        }
        & > .c-boldText:nth-of-type(1) {
            display: none;
        }
    }
    .c-profile {
        padding-left: 12px;
        padding-bottom: 24px;
        padding-right: 12px;
        b {
            background-color: #eae8e8;
            height: 40px;
            display: block;
            margin: 0px -12px 0px -12px;
            box-shadow: 0px 3px 0px 0px #dedcdc;
        }
        a {
            padding-bottom: $sub-unit * 3;
            text-decoration: underline;
            &:last-child {
                display: inline-block;

            }
        }
        .orangetext{
            display: inline-block;
            font-weight: bold;
            padding-top: $unit * 2;
            padding-bottom: $sub-unit * 3;
            text-decoration: underline;
            & + a {
        float: right;
        text-transform: capitalize;
        padding-top: $unit * 2;
        }
    }
    }
    .c-shopping {
        padding-left: 12px;
        padding-bottom: 24px;
        b {
            background-color: #eae8e8;
            height: 40px;
            display: block;
            margin: 0px 0px 0px -12px;
            padding: 12px 12px;
            box-shadow: 0px 3px 0px 0px #dedcdc;
            margin-bottom: 24px;
            font-size: 15px;
        }
        a {
            display: inline-block;
            text-decoration: underline;
        }

    }
    .c-unsubscribe {
        background-color: #f8f8f8;

    }
}
